.placeholde__switch {
    width: 1463px;
    height: 50px;
    background-color: #fff;
    text-align: center;
}
.bac {
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 160px;
}
.one {
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 170px;
}
.two {
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 170px;
}